
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/workspace.ini
Code/__pycache__/antipattern.cpython-36.pyc
Code/__pycache__/life_game.cpython-36.pyc
